{% extends "base.html" %}

{% block content %}
<hr/>
<div id="lyrics"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Your Rankings</h5>
            {% if request.user.rankings.exists %}
            <table class="table table-striped" id="user-table">
                <tbody>
                    {% for user_ranking in request.user.active_rankings %}
                    <tr class="user-rank-row" data-rank-id="{{ user_ranking.pk }}">
                        <td class="sort-handle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </td>
                        <td>{{ user_ranking.song }}</td>
                        <td><a href="{{ user_ranking.song.demo }}" class="btn btn-sm btn-outline-primary" target="_blank">Demo</a></td>
                        <td><a href="#" class="lyric-btn btn btn-sm btn-outline-secondary" data-song-id="{{ user_ranking.song.pk }}">Lyrics</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-muted">No songs!</p>
            {% endif %}
        </div>
        <div class="col">
            <p>
                <a href="#" id="show-agg-btn" class="btn btn-outline-primary">Show Aggregates</a>
                <a href="#" id="refresh-btn" class="btn btn-outline-success">Refresh</a>
            </p>
            <div class="hidden" id="agg-panel">
                <hr/>
                <h5>Aggregate Rankings</h5>
                {% if aggregate %}
                <table class="table table-striped">
                    <tr>
                        <th>Song</th>
                        <th>By</th>
                        <th>Average</th>
                        <th>Rankings</th>
                        <th>Endorsement</th>
                        <th>Spread</th>
                    </tr>
                    {% for song in aggregate %}
                    <tr {% if song.ranking_incomplete %}class="text-muted"{% endif %}>
                        <td>{{ song }}</td>
                        <td>
                            {% for writer in song.writers.all %}
                            {{ writer.initials }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ song.average_rank|floatformat }}</td>
                        <td>
                            {% for ranking in song.rankings.all %}
                            {{ ranking.member.initials }} ({{ ranking.ranking }}){% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ song.endorsement_percent }}%
                        </td>
                        <td>
                            {{ song.spread_percent }}%
                        </td>
                    </tr>
                    {% if forloop.last %}
                    <tr>
                        <td colspan="6">
                            <a href="/choppers/chopperize/{{ song.pk }}/" class="btn btn-outline-danger">Put {{ song }} on the Chopping Block</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                {% else %}
                <p class="text-muted">No songs!<p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(function(){
       $(".lyric-btn").click(function(e){
           var song_id = $(this).attr("data-song-id");
           $("#lyrics").load("/lyrics/"+song_id+"/").fadeIn();
           return false;
       });
       
       $('#user-table tbody').sortable({
           update: function(e, ui) {
               var user_rankings = []
               $('#user-table tr').each(function(i){
                   var rank_id = $(this).attr("data-rank-id");
                   user_rankings.push(rank_id)
               });
               var ranking_str = user_rankings.join(",");
               $.get("/rank?ranks="+ranking_str);
           },
           handle: ".sort-handle"
       });
       
       $('#user-table tbody').disableSelection();
       
       $("#show-agg-btn").click(function(e){
           if ($('#agg-panel').is(':hidden')) {
               $('#agg-panel').fadeIn();
               $('#show-agg-btn').text('Hide Aggregates');
           }
           else {
               $('#agg-panel').fadeOut();
               $('#show-agg-btn').text('Show Aggregates');
           }
           return false;
       });
       
       $('#refresh-btn').click(function(e){
           location.reload();
           return false;
       });
    });
    
</script>
{% endblock scripts %}