{% extends "base.html" %}

{% block content %}
<hr/>
<div class="container">
    <div>
        <a href="/pipelines/calendar.ics" class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
              <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
        </a>
    </div>
    {% if pipelines %}
    {% for pipeline in pipelines %}
    <div class="row mt-3">
        <div class="col-sm">
            <h4>{{ pipeline }}</h4>
            <h6 class="text-muted">{{ pipeline.template }}</h6>
            <h6 class="text-muted">{{ pipeline.baseline }}</h6>
            <p><a href="#" class="btn btn-sm btn-outline-dark reschedule-btn" data-pipeline-id="{{ pipeline.pk }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </a></p>
            <div class="hidden" id="{{ pipeline.pk }}-reschedule-panel">
            </div>
        </div>
        {% for phase in pipeline.phases.all %}
        <div class="col-sm">
            <div class="card {% if phase.done %}text-white bg-success{% else %}{% if phase.is_late %}text-white bg-danger{% endif %}{% endif %}">
              <div class="card-body">
                  <h5 class="card-title">{{ phase.descriptor.name }}</h5>
                  {% if not card.done %}
                  <h6 class="card-subtitle mb-2 {% if phase.is_late %}text-white{% else %}text-muted{% endif %}">{{ phase.due }}</h6>
                  <a href="/pipelines/{{ pipeline.pk }}/{{ phase.pk }}/done/" class="btn btn-sm {% if phase.is_late %}text-white btn-outline-light{% else %}btn-outline-success{% endif %}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                        <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                      </svg>
                  </a>
                  {% endif %}
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <p class="text-muted">No Pipelines</a>
    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(function(){
        $('.reschedule-btn').click(function(e){
            var pipeline_id = $(this).attr('data-pipeline-id');
            $('#'+pipeline_id+'-reschedule-panel').load('/pipelines/'+pipeline_id+'/reschedule/').fadeIn();
            return false;
        });
    });
</script>
{% endblock scripts %}