<form action="/add-song-comment/{{ song.pk }}/" method="POST" class="mb-5" id="comment-form">
    <h4>Comment on {{ song }}</h4>
    <p>
       {{ form.comment }} 
    </p>
    <p>
        <input type="submit" value="Add Comment" class="btn btn-primary">
        <a href="#" class="btn btn-secondary" id="cancel-comment-btn">Cancel</a>
    </p>
    {% csrf_token %}
</form>

<script>
    $(function(){
        $('#cancel-comment-btn').click(function(e){
            $('#lyrics').fadeOut();
            return false;
        });
    });
</script>